@{
    Layout = "~/Views/Shared/Admin/AdminLayout.cshtml";
}

@model List<Product>

<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Category</th>
                <th>Description</th>
                <th>Main Image</th>
                <th>Unit Price</th>
                <th>Supplier</th>
                <th>Brand</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.CategoryId</td>
                    <td>@item.Description</td>
                    <td>@item.MainImage</td>
                    <td>@item.UnitPrice</td>
                    <td>@item.SupplierId</td>
                    <td>@item.BrandId</td>

                    <td><a class="btn btn-success" href="/AdminProduct/Update/@item.Id" role="button">Update</a></td>
                    <td><a class="btn btn-danger" href="/AdminProduct/Delete/@item.Id" role="button">Delete</a></td>
                </tr>
            }

        </tbody>


    </table>

</div>