@using SiemensECommerce.UI.Models.VM
@{
    Layout = "~/Views/Shared/Site/SiteLayout.cshtml";
}

@model Product

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Item - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>  
        <h1>@Context.Session.GetString("name")</h1>
        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." /></div>
                    <div class="col-md-6">
                        <h1 class="display-5 fw-bolder">@Model.Name</h1>
                        <div class="small mb-1">@Model.Category?.Name</div>
                        <div class="fs-5 mb-2">
                            @*<span class="text-decoration-line-through">$45.00</span>*@
                            <span>$@Model.UnitPrice</span>

                        </div>
                        <p class="lead">@Model.Description</p>
                        <div class="d-flex">

                            <td data-th="Quantity">
                            <input type="number" class="form-control form-control-lg text-center" value="1">
                      
                            <button class="btn btn-outline-dark flex-shrink-0" type="button" onclick='addToCart(@Model.Id)'>
  </td>
                         @* <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                            <button class="btn btn-outline-dark flex-shrink-0" type="button" onclick='addToCart(@Model.Id)'>
*@
                                <i class="bi-cart-fill me-1"></i>
                                Add to cart
                            </button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>     
    </body>
</html>

<script>
    function addToCart(id){
        var newCart={
            ProductId: id
        }
        $.ajax({
            url:'/cart/addtocart',
            type:'POST',
            data:newCart,
            success:function(data){
                alert ("Ürün sepete eklendi");
                $("#cartLength").html(data)
            }
        })
    }


</script>
