@{
    Layout = "~/Views/Shared/Site/SiteLayout.cshtml";
}

@*@model SiemensECommerce.UI.Models.VM.WebUserVM*@
@model  SiemensECommerce.UI.Models.VM.ContactVM


    <form action="/Contact/Index" method = "post">

          @Html.ValidationSummary()

    <div class="form-group">
        <label>Name:</label>
        @Html.TextBoxFor(q => q.Name, new {@class = "form-control"})
    </div>
      <div class="form-group">
        <label>Surname:</label>
        @Html.TextBoxFor(q => q.SurName, new {@class = "form-control"})
    </div>
     
      <div class="form-group">
        <label>Phone Number:</label>
        @Html.TextBoxFor(q => q.Phone, new {@class = "form-control"})
    </div>
    <div class="form-group">
        <label>Message:</label>
        @Html.TextBoxFor(q => q.Message, new {@class = "form-control"})
    </div>
    <div>
        <button class="btn btn-success">Send</button>
    </div>

    </form>