@{
    Layout = "~/Views/Shared/Site/SiteLayout.cshtml";
}

@model  SiemensECommerce.UI.Models.VM.ContactVM

    <form action="/Contact/Index" method = "post">
   
          @Html.ValidationSummary()

           <div class="form-group">
        <label>Name:</label>
           @Html.TextBoxFor(q => q.Name, new {@class = "form-control"})
    </div>

     <div class="form-group">
        <label>Surname:</label>
        @Html.TextBoxFor(q => q.Surname, new {@class = "form-control"})
    </div>

      <div class="form-grpup">
        <lable>Email:</lable>
        @Html.TextBoxFor(q=>q.Email, new {@class="form-control"})
    </div>


     <div class="form-group">
        <label>Phone:</label>
        @Html.TextBoxFor(q => q.Phone, new {@class = "form-control"})
    </div>
  
      <div class="form-group">
        <label>Message:</label>
        @Html.TextBoxFor(q => q.Message, new {@class = "form-control"})
        </div>
      <div>
        <button type="submit" class="btn btn-success">Create Record</button>
    </div>
    </form>
